# Framework
fastapi==0.110.0
uvicorn[standard]==0.29.0

# Database
sqlalchemy==2.0.44
asyncpg==0.31.0

# Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Validation
pydantic==2.6.4
pydantic-settings==2.2.1

# Utils
python-multipart==0.0.9
